.custom-input {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(203 213 225 / var(--tw-bg-opacity)) !important;
    border-radius: 0.5rem;
    max-width: 2.5rem;
    height: 2.5rem;
    max-height: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.recaptcha-container-section {
    .re-captcha>div {
        width: 100% !important;
        background-color: red !important;
    }
}
